$output.java($entity.customRepository)## Se configura en el Celerio-pack.xml

##import com.bryanaguilar.miaplicacion.model.AppParametria;
##import com.bryanaguilar.miaplicacion.repository.EntityRepository;
$output.require("${Root.packageName}.model.${entity}")##
$output.require("${Root.packageName}.repository.EntityRepository")##
import org.springframework.stereotype.Repository;

@Repository
public interface ${entity}Repository extends EntityRepository<${entity}, Integer> {

}
